<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>VALID</key>
	<array>
		<string>http://google.com</string>
		<string>http://foobar.com/#</string>
		<string>http://google.com/#foo</string>
		<string>http://google.com/#search?q=iphone%20-filter%3Alinks</string>
		<string>http://twitter.com/#search?q=iphone%20-filter%3Alinks</string>
		<string>http://somedomain.com/index.php?path=/abc/def/</string>
		<string>http://www.boingboing.net/2007/02/14/katamari_damacy_phon.html</string>
		<string>http://somehost.com:3000</string>
		<string>http://xo.com/~matthew+%-x</string>
		<string>http://en.wikipedia.org/wiki/Primer_(film)</string>
		<string>http://www.ams.org/bookstore-getitem/item=mbk-59</string>
		<string>http://chilp.it/?77e8fd</string>
		<string>http://tell.me/why</string>
		<string>http://longtlds.info</string>
		<string>http://✪df.ws/ejp</string>
		<string>http://日本.com</string>
		<string>http://search.twitter.com/search?q=avro&amp;lang=en</string>
		<string>http://mrs.domain-dash.biz</string>
		<string>http://x.com/has/one/char/domain</string>
		<string>http://t.co/nwcLTFF</string>
	</array>
	<key>INVALID</key>
	<array>
		<string>http://no-tld</string>
		<string>http://tld-too-short.x</string>
		<string>www.foobar.com</string>
		<string>WWW.FOOBAR.COM</string>
		<string>http://-doman_dash.com</string>
	</array>
</dict>
</plist>
